<div class="container">

  <h1>Sismic Tracker</h1>

  <h2>Select your dates to see the closest activity</h2>

  <div class="date-pickers-container">
    <button>Empty</button>
  </div>

  <div class="indicators">
    <app-closest-earthquake city-identifier="los_angeles" city="Los Angeles, CA" since="2021-08-01" until="2021-08-25"></app-closest-earthquake>
    <app-closest-earthquake city-identifier="san_francisco" city="San Francisco, CA" since="2021-08-01" until="2021-08-25"></app-closest-earthquake>
    <app-closest-earthquake city-identifier="tokyo" city="Tokyo, Japon" since="2021-08-01" until="2021-08-25"></app-closest-earthquake>
  </div>
</div>