<div class="container">

  <h1>Sismic Tracker</h1>

  <h2>Select your dates to see the closest activity</h2>

  <form [formGroup]="form" class="flex-centered">
    <div class="date-pickers-container">
      <div class="date-pickers-container__pickers">
        <mat-form-field appearance="standard">
          <mat-label>Start date</mat-label>
          <input matInput [matDatepicker]="since" formControlName="since">
          <mat-datepicker-toggle matSuffix [for]="since"></mat-datepicker-toggle>
          <mat-datepicker #since></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field appearance="standard">
          <mat-label>End date</mat-label>
          <input matInput [matDatepicker]="until" formControlName="until">
          <mat-datepicker-toggle matSuffix [for]="until"></mat-datepicker-toggle>
          <mat-datepicker #until></mat-datepicker>
        </mat-form-field>
      </div>

      <div  class="date-pickers-container__button">
        <button mat-raised-button color="primary" (click)="updateData()" >Update</button>
      </div>
    </div>
  </form>

  <div class="indicators" *ngIf="!loading">
    <app-closest-earthquake city-identifier="los_angeles" city="Los Angeles, CA" [since]="searchSince" [until]="searchUntil"></app-closest-earthquake>
    <app-closest-earthquake city-identifier="san_francisco" city="San Francisco, CA" [since]="searchSince" [until]="searchUntil"></app-closest-earthquake>
    <app-closest-earthquake city-identifier="tokyo" city="Tokyo, Japon" [since]="searchSince" [until]="searchUntil"></app-closest-earthquake>
  </div>
</div>