<div class="container">

  <h1>Sismic Tracker</h1>

  <h2>Select your dates to see the closest activity</h2>

  <div class="date-pickers-container">
    <form [formGroup]="form">
      <mat-form-field appearance="standard">
        <mat-label>Start date</mat-label>
        <input matInput [matDatepicker]="since" formControlName="since">
        <mat-datepicker-toggle matSuffix [for]="since"></mat-datepicker-toggle>
        <mat-datepicker #since></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field appearance="standard">
        <mat-label>End date</mat-label>
        <input matInput [matDatepicker]="until" formControlName="until">
        <mat-datepicker-toggle matSuffix [for]="until"></mat-datepicker-toggle>
        <mat-datepicker #until></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button (click)="updateData()" >Update</button>
    </form>
  </div>

  <div class="indicators">
    <app-closest-earthquake city-identifier="los_angeles" city="Los Angeles, CA" since="2021-08-01" until="2021-08-25"></app-closest-earthquake>
    <app-closest-earthquake city-identifier="san_francisco" city="San Francisco, CA" since="2021-08-01" until="2021-08-25"></app-closest-earthquake>
    <app-closest-earthquake city-identifier="tokyo" city="Tokyo, Japon" since="2021-08-01" until="2021-08-25"></app-closest-earthquake>
  </div>
</div>